/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f9;
}
header {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 6px 0;
    font-size: 20px;
}

.top-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    margin-top: 15px;
    max-height: 150px;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    margin-top: 15px;
    height: calc(100vh - 240px); /* Adjust to fit the screen without scrolling */
}

.video-container, .graph-container {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.graph-container canvas {
    max-width: 100% !important;  /* Hacer que la gráfica ocupe el 100% del contenedor */
    max-height: 95% !important; /* Mantener la relación de aspecto */
}

.box {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 25%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.box h2 {
    margin-top: 0;
    color: #333;
    font-size: 20px;
}
.graph-container h2{
    margin-top: 0;
    color: #333;
    font-size: 20px;    
}

.video-container h2{
    margin-top: 0;
    color: #333;
    font-size: 20px;
}
.box p{
    font-size: 14px;
}

#rosImage {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #ccc;
}